{%extends "basic.html"%}

{%block body%}
<div class="text-center mt-3 fw-bolder"  style="font-family: 'Raleway', sans-serif;">
  <p>Items in cart<p>
</div>
<div id="items" class="accordion m-auto w-75" id="accordionExample">

</div>
<ul class="list-group w-75 m-auto">
  <li class="list-group-item fw-bolder">TOTAL : </li>
</ul>

  <div class="text-center mt-5 fw-bolder"  style="font-family: 'Raleway', sans-serif;">
    <p>Enter Details to checkout<p>
  </div>
<div class='container mt-2 mb-5' >
  <form action='/home/checkout/' method="post" class="row g-3">{% csrf_token %}
    <input type="hidden" name="jsonitems" id="jsonitems">
    {% if user.is_authenticated%}
    <div class="col-md-6">
      <label for="inputname" class="form-label">Name</label>
      <input type="text" class="form-control" value='{{request.user.username}}' name="name" id="inputname" Required>
    </div>
      <div class="col-md-6">
        <label for="contactEmail" class="form-label">Email</label>
        <input type="email" class="form-control" value='{{request.user.email}}' name="email" id="contactEmail" Required>
      </div>
      {%else%}
      <label for="inputname" class="form-label">Name</label>
      <input type="text" class="form-control" name="name" id="inputname" Required>
    </div>
      <div class="col-md-6">
        <label for="contactEmail" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" id="contactEmail" Required>
      </div>
      {%endif%}
      <div class="col-12">
        <label for="inputphonenumber" class="form-label">Phone</label>
        <input type="tel" class="form-control" name='phone' id="inputphonenumber" placeholder="9123456789" Required>
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Address(optional)</label>
        <input type="text" class="form-control" name='address' id="inputAddress" placeholder="Apartment, studio, or floor">
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">City</label>
        <input type="text" class="form-control" name='city' id="inputCity" Required>
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">State</label>
        <select id="inputState" name='state' class="form-select" Required>
          <option selected>Choose...</option>
          <option>Assam</option>
          <option>Bihar</option>
          <option>Bombay</option>
          <option>East Punjab</option>
          <option>Madhya Pradesh</option>
          <option>Madras</option>
          <option>Orissa</option>
          <option>Uttar Pradesh</option>
          <option>West Bengal</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <input type="text" class="form-control" name='zipcode' id="inputZip" Required>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Place Order</button>
      </div>
    </form>
{%endblock%}

{%block js%}
<script>
if(localStorage.getItem('cart') == null){
  var cart={};
  }
else
  {
  cart = JSON.parse(localStorage.getItem('cart'));
  console.log(cart);
  }
total = 0;
if ($.isEmptyObject(cart)){
  mystr = `Your cart is empty`
  $("#items").append(mystr);
}
else{
for (var item in cart){
    let qty = cart[item][0];
    let name = cart[item][1];
    total = total + qty;
    mystr = `<div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          ${name}
          <span class="badge bg-danger rounded-pill mx-2">${qty}</span>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <li>price</li>
          <li>description</li>
          <li>publish date</li>
        </div>
      </div>
    </div>`
    $("#items").append(mystr);
}
document.getElementById('innercart').innerHTML = total
}
$('#clearcart').click(function(){
  mystr = `Your cart is empty`
  document.getElementById('items').innerHTML = mystr;
  localStorage.clear();
  cart = {};
  document.getElementById('innercart').innerHTML = 0;
  });

$("#jsonitems").val(JSON.stringify(cart))

{%if thank%}
alert("Your order has been placed. Your order id is {{id}}");
localStorage.clear();
document.location = "/home";
{%endif%}
</script>
{%endblock%}
